body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.cellSize{
    height: 75px;
    width: 75px;
}



#chessContainer{
    background-color: #caf0f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
